.transactions-page {

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  }
  .transactions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .transaction {
    background: #fff;
    max-width: 700px;
    border-radius: 5px;
    width: 100%;
    padding: 24px;
    transition: transform 0.2s;
    margin: 0 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      display: inline-block;
      padding-inline: 5px;
    }

    .actions {
      a {
        margin: 0 5px;
      }
      .delete {
        svg {
          color: red;
        }
      }
    }
  }
}
